.loginWrap {
  height: 100%;
  background-color: #f8f8f9;
  background-image: url(../../assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1px;
  .formWrap {
    width: 350px;
    height: 300px;
    margin: 100px auto;
    margin-top: 200px;
    padding: 50px 30px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
  }
}
