body {
  font:300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, Helvetica, sans-serif;
}
.App {
  width: 100%;
  height: 100vh;
  /* background-color: #ffffff; */
  background-color: orange;
  overflow-x: hidden;
  /* overflow-y: scroll; */
  touch-action:pan-y;
}
