.navWrap {
  display: flex;
  flex-wrap: nowrap;
  width: 1200px;
  margin: 30px auto;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  box-shadow: 0 6px 15px 0 rgb(7 17 27 / 10%);
  .swiperWrap {
    margin: 0 auto;
    width: 900px;
    background-color: orange;
    border-radius: 8px;
    overflow: hidden;
  }
}
.listWrap {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  .cardWrap {
    margin: 10px;
  }
}
.paginationWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerWrap {
  width: 1200px;
  height: 100px;
}
